<body>
    <h1>Lista de Prospectos </h1>
    <div class="contenido">
        <div class="sombra">
            <div class="capturar">
                <button title="Ir A Capturas" class="boton" [routerLink]="'/capturar'" >
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-arrow-narrow-left" width="40" height="40" viewBox="0 0 24 24" stroke-width="1.5" stroke="#000000" fill="none" stroke-linecap="round" stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                        <line x1="5" y1="12" x2="19" y2="12" />
                        <line x1="5" y1="12" x2="9" y2="16" />
                        <line x1="5" y1="12" x2="9" y2="8" />
                      </svg>
                </button>
            </div>
            <table class="contenido__tabla">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Nombre</th>
                        <th>Apellido Paterno</th>
                        <th>Apellido Materno</th>
                        <th>Estatus</th>
                        <th>Ver Solicitud</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let prospecto of prospetos; let i = index;">
                        <td>{{i + 1}} </td>
                        <td>{{prospecto.nombre}} </td>
                        <td>{{prospecto.primerApellido}} </td>
                        <td>{{prospecto.segundoApellido}}</td>
                        <td>{{prospecto.estado}} </td>
                        <td title="Ir Administracion" class="pointer" (click)="persona(prospecto)" >Ver mas</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</body>