html {
    box-sizing: border-box;
    min-height: 100%;
    scroll-snap-type: y mandatory;
}
*, *:before, *:after {
    box-sizing: inherit;
}

h1{
    font-size: 30px;
    font-weight: 800;
    color: #060002;
    text-align: center;
}
.contenido{
    margin: 0 auto;
    max-width: 1200px;
}
.sombra {
    padding: 2rem;
    margin-bottom: 3rem;
    background-color: rgba(255, 255, 255, 1);
    border-radius: 10px;
    -webkit-box-shadow: 0px 11px 15px -9px rgba(0,0,0,0.63);
    -moz-box-shadow: 0px 11px 15px -9px rgba(0,0,0,0.63);
    box-shadow: 0px 11px 15px -9px rgba(0,0,0,0.63);
    background-color: #0B4D6A;
}
thead , table{
    width: 90%;
    margin: 0 auto;
    text-align: center;
}
tbody{
    text-align: center;
}
.contenido__tabla{
    background-color: #649DF1 ;
}
.pointer{
    cursor: pointer;
}
.pointer:hover{
    background-color: #A5A9AF;
}
th{
    font-size: 20px;
    font-weight: 700;

}
td{
    text-transform: capitalize;
    color: white;
    font-size: 15px;
    font-weight: 500;
}
.capturar{
    display: flex;
    justify-content: start;
    margin-bottom: 20px;
    
}
.boton{
    background-color: #0097A7;
    color: #ffffff;
    border-radius: 5px;
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.2rem;
    border: none;
}
